.text-size {
  font-size: 30px;
  font-weight: 900;
}

.text-size-20 {
  font-size: 20px;
}

.background_align {
  background-color: yellow;
  text-align: center;
}

.list-ul {
  list-style-type: none;
  display: inline-block;
}

.list-li {
  display: inline-block;
  padding-right: 30px;
}
